
.app {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
  background: #000000d4;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgb(0, 0, 0);
}

body {
  background: linear-gradient(to right, #458cff, #9603f8);
}
